{{#each vacations as |vacation|}}
  <div>
    Vacation ID: {{vacation.id}} <br />
    Country: {{vacation.country}} <br />
    City: {{vacation.city}} <br />
    Name: {{vacation.name}} <br />
    <!-- Visited: {{vacation.visited}} <br /> -->
    Comments: {{vacation.comments}}
  </div>
  <hr />
{{/each}}
